
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    list-style: none;
}

.flex{
    display: flex;
}

.flex_Column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul li a{
    text-decoration: none;
    color: #c55d66;
}

html{
    scroll-behavior: smooth; 
}

body{
    height: 100vh;
    margin: 0 auto;
}

/* APRESENTAÇÃO INICIAL */

.logo{  
    width:100%;
    border: solid 1px white;
    height: auto;
    border-radius: 10px
}

.logo img{  
   width: 20%;
}

#imagem_banner{
    position: absolute;
    z-index: -1;
    opacity: .5;
    max-width: 100%;
}

.banner{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
    padding-top: 20px;
    color: #3f3e44;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
    flex-direction: column;
}

.header .pesquisa{
    height: 60%;
    width: 25%;
    display: flex;
}

.pesquisa .social_media{
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
}

.pesquisa .social_media li a i{
   color: rgb(47, 22, 22);
}

.menu{
    background-color: white;
    height: 20px;
    border-bottom: solid 2px #a83a4757;
    width: 100%;
}

.header .menu ul{
    font-size: .9rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header .menu ul li a{
    font-family: "Roboto Mono", monospace;
    color: #0b0807;
    width: 100%;
    text-align: left;
}

.sub_menu_cardapio{
    position: absolute;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    height: 0;
    overflow: hidden;
    transition: .2s;
    border-radius: 5px;
}

.hover_Sub:hover .sub_menu_cardapio{
    height: 80px;
    padding: 10px;
}

.header .menu ul li .sub_menu_cardapio a{
   transition: .2s;
}

.header .menu ul li .sub_menu_cardapio a:hover{
    background-color: #fce8e7;
}

.titulo{
    font-size: 5vw;
    font-weight: 400;
    width: 100%;
    font-family: "Raleway", sans-serif;
    color: #65230b;
    text-shadow: 5px 5px 5px #591111ee;
}

.sub_titulo{
    font-size: 1.5vw;
    width: 80%;
}

button{
    background-color: #a35959;
    color: #fce8e7;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

button a{
    color: #fce8e7;
    font-size: 1rem;
    text-decoration: none;
}

button:hover{
    background-color: #c55d66;
}

/*FAVORITOS*/

.favoritos_title{
    width: 100%;
    background-color: #ffebec;
    height: 10%;
    font-size: 2.5vw;
    font-family: "Raleway", sans-serif;
    color: #3b2c27;
    margin: 2% 0 2% 0;
}

.favoritos{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favoritos .card{
    width: 20%;
    background-color: white;
    box-shadow: 2px 5px 10px #ad666670;
}

.favoritos .card .espaco_Img{
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.favoritos .card .espaco_Img img{
    width: 100%;
    position: absolute;
    top: -150%;
    opacity: .6;
}

.favoritos .card p, .favoritos .card h2{
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    padding: 5px;
}
/* ESPAÇO PARA APRESENTAÇÃO DOS PRODUTOS */

.all_Prod{
    height: auto;
    min-height: 500px;
    margin-top: 2%;
}

.all_Prod h2{
    padding: 10px;
    font-family: "Raleway", sans-serif;
    background-color: #fce8e7;
    color: #ad6666;
    border-bottom: solid 2px #42353134;
}

.all_Prod .cardBox{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12%;
}

.all_Prod .cardBox .card{
    margin-top: 50px;
    height: 200px;
    border: solid 1px #3b2c2744;
    width: 25%;
    min-width: 150px;
    position: relative;
    transition: .5s;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.all_Prod .cardBox .card img{
    height: 100%;
    transition: .2s;
}

.all_Prod .cardBox .card .conteudoCard{
    position: absolute;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:.5s;
    margin-top: 100%;
    padding: 5px;
}

.all_Prod .cardBox .card .conteudoCard button{
   width: 100%;
}

.all_Prod .cardBox .card .conteudoCard p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: .8rem;
   margin-bottom: 5px;
   color: #3c3939;
   font-weight: 600;
}


.all_Prod .busca{
    display: flex;
    width: 91.5%;
    margin: 15px auto;
}

.all_Prod input{
    width: 100%;
    padding: 5px 5px 5px 10px;
    outline: none;
    border: solid 1px #ccc;
}

.botao_Pesquisa{
    font-size: .8rem;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
}

#msgElse{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

#msgElse i{
   font-size: 2rem;
   color: #a35959;
   padding: 10px;
}

/* TELA DE CARREGAMENTO */
.loading-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}

/* Spinner animado */
.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #ffffff33;
  border-top: 4px solid #ad6666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Texto */
.loading-screen p {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* EVENTO PARA MOSTRAR CONTEUDO DO CARD */
.all_Prod .cardBox .card:hover .conteudoCard{
   margin-top: 0;
}

.all_Prod .cardBox .card:hover img{
   opacity: .5;
}

.all_Prod .cardBox .card:hover{
    box-shadow: 1px 2px 10px #ccc;
}

/* Mais vendidos */

#maisVendidos{
    width: 90%;
    margin: 2% auto;
}

#maisVendidos img{
   width: 100%;
}

#maisVendidos .boxVenda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 2%;
}

.cardMaisVendidos{
    height: 280px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: solid 2px #ad6666;
    border-radius: 5px;
}

.cardMaisVendidos p{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ad6666;
}

/* ABA SOBRE */

#sobre{
    width: 90%;
    margin: 5% auto; 
}

#sobre h2, #maisVendidos h2{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    padding: 10px;
    color: #a35959;
    border-bottom: solid 1px #a3595922;
}

#sobre .texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}

#sobre .texto p{
    width: 20%;
    font-family: "Raleway", sans-serif;
}


/* LOCALIZAÇÃO */
.mapa{
    width: 100%;
}

#local{
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 3vw;
    color: #65230b;
    padding: 2%;
}

.mapa .map{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    font-size: 20rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    margin-top: 5%;
    background-color:#f9f5f5;
    padding: 2%;
}

footer .rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

footer .rodape{
    display: flex;
    align-items: flex-start;
}

footer .rodape .social_midia ul, footer .rodape .navegation ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .rodape .social_midia ul li a, footer .rodape .navegation ul li a{
    color: #65230b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

footer .rodape .endereco{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: #65230b;
}

.direitos{
    display: flex;
    align-items: center;
}

.direitos p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    padding: 10px;
    color: #65230b;
}